h1 {
    color: brown;
    text-align: center;
}
.button {
    background-color: cadetblue;
    display: block;
    margin: auto;

}
p {
    text-align: center;
}
.mainimg {
    display: block;
    margin: auto;
}
.myimg{
    width: 60vw;
}